.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.filterBlock{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 25px 0;
}
.inputDebounceWrapper{
    width: 100%;
    max-width: 400px;
}
.slider{
    width: 200px;
}
.doubleRangeSliderWrapper{
    width: 100%;
    max-width: 320px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.toggleButtonWrapper{
    width: 100%;
    max-width: 280px;
}
.toggleButtonWrapper label{
    padding: 0 42px;
}