.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.filterBlock{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
}
.inputDebounceWrapper{
    width: 100%;
    max-width: 400px;
    margin: 25px 0;
}
.slider{
    width: 200px;
}
.doubleRangeSliderWrapper{
    width: 100%;
    max-width: 320px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin: 25px 0;
}
.toggleButtonWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 280px;
    margin: 25px 0;
}
.toggleButtonWrapper h3{
    align-self: center;
}
.toggleButtonWrapper label{
    padding: 0 30px;
}

@media (max-width: 1030px) {
    .toggleButtonWrapper{
        margin: 10px 0 0 0;
        align-items: flex-end;
    }
    .inputDebounceWrapper{
        margin: 10px 0 0 0 ;
    }
}
@media (max-width: 720px) {
    .filterBlock{
        flex-direction: column;
        align-items: flex-start;
    }
    .toggleButtonWrapper{
        margin: 10px 0 0 0;
        align-items: flex-start;
    }
    .toggleButtonWrapper h3{
        align-self: flex-start;
    }
}