.wrapper {
    width: 100%;
    max-width: 414px;
    min-height: 300px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.content {
    padding: 30px;
}
.input{
    position: relative;
    margin-bottom: 25px;
}

.title{
    margin-bottom: 40px;
}

.error {
    position: absolute;
    left: 0;
    top: 31px;
    margin-bottom: 0;

    color: red;
    text-align: left;
}

.text{
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;

    color: #000000;

    opacity: 0.5;
}
.helperText{
    text-align: left;
    opacity: 0.5;
}

.checkbox{
    display: flex;
    align-items: center;
}
.checkbox input{
    cursor: pointer;

    margin-right: 8px;
}
.checkbox span{
    font-size: 14px;
    line-height: 17px;

    color: #000000;
}